.form-control {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control select {
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #000;
    border: 1px solid #ddd;
    display: block;
    height: 40px;
    outline-width: 1px;
}

.form-control select:focus {
    outline: none;
    border: 1px solid gray;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.error {
    color: red;
    display: block;
    font-size: .8em;
}

.input-wrap {
    width: 100%;
    position: relative;
    z-index: 999;
    display: block;
}

