.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f3f3f3;
}

.client-details {
  display: flex;
  align-items: center;
  line-height: 1em;
}

.client-info {
  margin-left: 5px;
}

.client-info span {
  display: block;
}

